root = true

[*.{kt,kts}]
ktlint_experimental = disabled
ktlint_standard_annotation = disabled
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_allow_trailing_comma = true
ij_kotlin_imports_layout=*,java.**,javax.**,kotlin.**,^
ktlint_function_naming_ignore_when_annotated_with = Composable
ij_continuation_indent_size = 4
ktlint_standard_multiline_expression_wrapping = disabled